<head>
  <link rel="stylesheet" href="/styles/_header.css"/>
</head>
<header>
  <nav class="navbar">
    <a class="navbar-brand" href="/">Quizz App</a>
    <div class="navbar-items" id="navbar-paths">
      <a id="create-item" href="/create">Create</a>
      <a id="results-item" href="/results">Results</a>
    </div>
    <div class="navbar-items">
     <!--logged-in-->
     <form method="GET" action="">
      <button name="logout" type="submit" class="btn-warn">Log-out</button>
    </form>
    <!-- logged-out-->
    <a class="nav-item nav-link" href="!#">Register</a>
    <a class="nav-item nav-link" href="!#">Login</a>
      </div>
  </nav>
</header>
