<head>
  <link rel="stylesheet" href="/styles/_header.css"/>
</head>
<header>
  <nav class="navbar">
    <a class="navbar-brand" href="/">Quizz App</a>
    <div class="navbar-items" id="navbar-paths">
      <a id="create-item" href="/create">Create</a>
      <a id="results-item" href="/results">Results</a>
    </div>
    <div class="navbar-items">
      <!--logged-in-->
      <% if (userID) { %>
        <form method="POST" action="/logout">
          <button name="logout" type="submit" class="btn-warn">Log-out</button>
        </form>
      <% } else { %>
        <!-- logged-out-->
        <form method="POST" action="/login">
          <input name="name" placeholder="Enter name">
          <button name="login" type="submit" class="btn-warn">Login</button>
        </form>
      <% } %>
    </div>
  </nav>
</header>
