<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create a Quiz!</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/create.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Righteous&family=Stalinist+One&display=swap"
    rel="stylesheet">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="scripts/create_name.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <section class="createContainer">
      <div id="title">
        <h1>Create a Quiz!</h1>
      </div>
      <div id="text">
        <ul>
          <h3>Instructions:</h3>
          <li>👾 Every quiz must have a name.</li>
          <br>
          <li>👾 Every quiz must have a question,
            <br>one correct answer, and at least
            <br> one incorrect answer choice.
          </li>
          <br>
          <li>👾 Every quiz must have at least 3 questions.</li>
        </ul>
      </div>
      <div id="lava">
        <img src="https://www.cameronsworld.net/img/content/16/6.gif">
        <div>
          <h2>Enter a Quiz Name : </h2>
          <form class="quizName" action="/create" method="POST">
            <textarea class="form-control form-control-lg" name="name" id="nameText"></textarea>
            <button class="btn btn-info" type="submit">Start</button>
          </form>
        </div>
        <img src="https://www.cameronsworld.net/img/content/16/6.gif">
      </div>
    </section>

</body>

</html>
