<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/_header.css"/>



    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <header>
    <%- include('partials/_header') %>
  </header>
  <body>
    <main>
      <!--
      <div id="daily-title">
       <h1>Quizzes of the Day</h1>
      </div>
    -->
      <section id="featured">
        <div class="column-left">
          <div class="featured-quiz">
            <div class="featured-large">
              <span class="feature-title">Quizz App</span>
            </div>
            <div class="featured-medium" id="row-1">
              <span>Featured Quiz 1</span>
              <span>Featured Quiz 2</span>
            </div>
            <div class="featured-medium" id="row-2">
              <span>Featured Quiz 3</span>
              <span>Featured Quiz 4</span>
            </div>
            <div class="featured-medium" id="row-3">
              <span>Featured Quiz 5</span>
              <span>Featured Quiz 6</span>
            </div>
          </div>
        </div>
      </section>
      <section id="main-section">
        <div class="neon-wrap">
          <h1 id="category-title">Categories<h1>
        </div>

        <div class="science-container">
          <h3 id="science-title">🌲&nbsp; Science & Nature &nbsp;🌲</h3>
          <div class="quizzes" id="science-row-1">
            <a href="/quiz/1"><span>Science Moderate 1</span></a>
            <a href="/quiz/2"><span>Science Moderate 2</span></a>
          </div>
          <div class="quizzes" id="science-row-2">
            <a href="/quiz/3"><span>Science Difficult 1</span></a>
            <a href="/quiz/4"><span>Science Difficult 2</span></a>
          </div>
          <div class="quizzes" id="science-row-3">
            <a href="/quiz/5"><span>Science Hard 1</span></a>
            <a href="/quiz/6"><span>Science Hard 2</span></a>
          </div>
        </div>

        <div class="geography-container">
          <h3 id="geography-title" >🌎&nbsp; Geography &nbsp;🌎</h3>
          <div class="quizzes" id="geography-row-1">
            <a href="/quiz/7"><span>Geography Moderate 1</span></a>
            <a href="/quiz/8"><span>Geography Moderate 2</span></a>
          </div>
          <div class="quizzes" id="geography-row-2">
            <a href="/quiz/9"><span>Geography Difficult 1</span></a>
            <a href="/quiz/10"><span>Geography Difficult 2</span></a>
          </div>
          <div class="quizzes" id="geography-row-3">
            <a href="/quiz/11"><span>Geography Hard 1</span></a>
            <a href="/quiz/12"><span>Geography Hard 2</span></a>
          </div>
        </div>

        <div class="film-container">
          <h3 id="film-title">🎞&nbsp; Film &nbsp;🎞</h3>
          <div class="quizzes" id="film-row-1">
            <a href="/quiz/13"><span>Film Moderate 1</span></a>
            <a href="/quiz/14"><span>Film Moderate 2</span></a>
          </div>
          <div class="quizzes" id="film-row-2">
            <a href="/quiz/15"><span>Film Difficult 1</span></a>
            <a href="/quiz/16"><span>Film Difficult 2</span></a>
          </div>
          <div class="quizzes" id="film-row-3">
            <a href="/quiz/17"><span>Film Hard 1</span></a>
            <a href="/quiz/18"><span>Film Hard 2</span></a>
          </div>
        </div>

        <div class="history-container">
          <h3 id="history-title">⌛&nbsp; History &nbsp;⌛</h3>
          <div class="quizzes" id="history-row-1">
            <a href="/quiz/19"><span>History Moderate 1</span></a>
            <a href="/quiz/20"><span>History Moderate 2</span></a>
          </div>
          <div class="quizzes" id="history-row-2">
            <a href="/quiz/21"><span>History Difficult 1</span></a>
            <a href="/quiz/22"><span>History Difficult 2</span></a>
          </div>
          <div class="quizzes" id="history-row-3">
            <a href="/quiz/23"><span>History Hard 1</span></a>
            <a href="/quiz/24"><span>History Hard 2</span></a>
          </div>
        </div>

        <div class="general-container">
          <h3 id="general-title">🎓&nbsp; General Knowledge &nbsp;🎓</h3>
          <div class="quizzes" id="general-row-1">
            <a href="/quiz/25"><span>General Moderate 1</span></a>
            <a href="/quiz/26"><span>General Moderate 2</span></a>
          </div>
          <div class="quizzes" id="general-row-2">
            <a href="/quiz/27"><span>General Difficult 1</span></a>
            <a href="/quiz/28"><span>General Difficult 2</span></a>
          </div>
          <div class="quizzes" id="general-row-3">
            <a href="/quiz/29"><span>General Hard 1</span></a>
            <a href="/quiz/30"><span>General Hard 2</span></a>
          </div>
        </div>
      </section>
      <section class="user-created" id="tables-container">
        <% if(userID){ %>
        <h3 id="for-you-section">Made By You</h3>
        <div class="column-right">
          <div class="column-container">
            <ul class="column-list">
            <% for (let element of quizList) { %>
              <a href="/quiz/<%= element.id %>" ><li><%= element.name %> </li></a>
            <%} %>
          </ul>
           <%} %>
          </div>
        </div>
      </section>
      </section>
    </main>
  </body>
</html>
