<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/_header.css"/>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <header>
    <%- include('partials/_header') %>
  </header>
  <body>
    <main>
       <h1 id="daily-title">Quizzes of the Day</h1>
      <section id="featured">
        <div class="column-left">
          <div class="featured-quizzes">
            <div class="featured-large">
              <span class="feature-title">Featured Quizz</span>
            </div>
            <div class="featured-medium" id="row-1">
              <span>Medium Quiz 1</span>
              <span>Medium Quiz 2</span>
            </div>
            <div class="featured-medium" id="row-2">
              <span>Medium Quiz 3</span>
              <span>Medium Quiz 4</span>
            </div>
            <div class="featured-medium" id="row-3">
              <span>Medium Quiz 5</span>
              <span>Medium Quiz 6</span>
            </div>
            <div class="featured-medium" id="row-4">
              <span>Medium Quiz 7</span>
              <span>Medium Quiz 8</span>
            </div>
          </div>
        </div>
        <div class="column-right">
          <div class="column-container" id="popular-section">
            <h3>Most Popular</h3>
            <ol class="column-list">
              <li>Popular 1</li>
              <li>Popular 2</li>
              <li>Popular 3</li>
              <li>Popular 4</li>
              <li>Popular 5</li>
              <li>Popular 6</li>
              <li>Popular 7</li>
              <li>Popular 8</li>
            </ol>
          </div>
          <div class="column-container" id="for-you-section">
            <h3>Made By You</h3>
            <ul class="column-list">
              <li>By You 2</li>
              <li>By You 2</li>
              <li>By You 3</li>
              <li>By You 4</li>
              <li>By You 5</li>
              <li>By You 6</li>
              <li>By You 7</li>
              <li>By You 8</li>
            </ul>
          </div>
        </div>
      </section>
      <section id="main-section">
        <h1 id="category-title">Quizzes By Category</h1>
        <div class=""></div>




      </section>

    </main>
  </body>
</html>
