<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create a Quiz!</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/questions.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/questions.js"></script>
</head>
<%- include('partials/_header.ejs') %>

  <body>
    <main id="main">
      <form id="completeQuizCreate" data-quiz-id="<%=id%>" action="/create/:id/complete" method="POST">
        <button type="submit">Generate Quiz</button>
      </form>
      <form data-quiz-id="<%=id%>" id="questionform" action="/routes/create.js" method="post">
        <section id="creationQnA">
          <div class="questionContainer">
            <label>Question</label>
            <textarea name="question"></textarea>
          </div>
          <section id="answerContainer">
            <div>
              <label>Correct Answer</label>
              <textarea name="correct"></textarea>
            </div>
            <div>
              <label>Incorrect Answer</label>
              <textarea name="answer1"></textarea>
            </div>
            <div>
              <label>Incorrect Answer</label>
              <textarea name="answer3"></textarea>
            </div>
            <div>
              <label>Incorrect Answer</label>
              <textarea name="answer2"></textarea>
            </div>
            <div>
              <label>Incorrect Answer</label>
              <textarea name="answer4"></textarea>
            </div>
            <button type="submit">Next</button>
          </section>
      </form>
      </section>
    </main>
  </body>

</html>
