<section class="questionContainer">
  <form action="/routes/create.js" method="post">
    <label>Question</label>
    <textarea name="question" ></textarea>
   </form>
</section>
<section id="answerContainer">
  <form class="anwsertext" action="/routes/create.js" method="post">
    <div>
      <label>Correct Answer</label>
      <textarea name="correct"></textarea>
    </div>
    <div>
      <label>Incorrect Answer</label>
      <textarea name="answer1"></textarea>
    </div>
    <div>
      <label>Incorrect Answer</label>
      <textarea name="answer3" ></textarea>
    </div>
    <div>
      <label>Incorrect Answer</label>
      <textarea name="answer2" ></textarea>
    </div>
    <div>
      <label>Incorrect Answer</label>
      <textarea name="answer4" ></textarea>
    </div>
    <button type="submit">Start/button</button>
   </form>
</section>
</body>
</html>
