$font: "Oxygen", sans-serif;
$logo: "Stalinist One", cursive;
$background: url(https://www.cameronsworld.net/img/content/20/bg.png);
$pink: #ff5dc3;
$purple: #cd68ff;
$blue: #9afffd;
$green: #70ff46;

@mixin flexcenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button() {
  width: 4.5em;
  height: 1.5em;
  border-radius: 6px;
  background: none;
  font-size: 1.2em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.29),
    0 0 0.45em rgba(248, 43, 255, 0.76);
  color: rgb(252 74 230 / 82%);
  box-shadow: inset 0 0 0.5em 0 rgb(74 84 74 / 76%),
    0 0 0.5em 0 rgba(28, 255, 251, 0.883);
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgb(255 255 255 / 30%);
    border: 3px solid #eee6ef;
    background: none;
    color: white;
  }
}

@mixin textglow($color) {
  color: $color;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.29), 0 0 0.45em $color;
}
@mixin questionTextbox {
  display: flex;
  top: 0px;
  position: relative;
  text-align: center;
  width: 40vw;
  font-size: 1.5em;
  background-image: linear-gradient(
    109.6deg,
    #80f7ff 11.2%,
    #fa6eff 57.8%,
    #80f7ff 85.9%
  );
  color: black;
  box-shadow: inset 0 0 0.5em 0 rgb(74 84 74 / 76%),
    0 0 0.5em 0 rgb(208 27 248 / 88%);
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid rgb(135, 73, 73);
  resize: none;
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgb(255 255 255 / 30%);
    top: -4px;
    border: 3px solid #eee6ef;
  }
}
@mixin borderglow($color) {
  border: $blue 0.125em solid;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 $color, 0 0 0.5em 0 $color;
}

@mixin questionFont {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fa1fe7f6;
  text-shadow: 0 0 0.12em rgb(255 255 255 / 29%), 0 0 0.45em rgb(73, 52, 74);
  font-weight: 600;
}

@mixin headerpages {
  border: rgba(56, 7, 250, 0.76) 0.2em solid;
  box-shadow: inset 0 0 0.5em 0 rgb(43 96 255 / 76%),
    0 0 0.5em 0 rgb(43 211 255 / 76%);
  border-radius: 0.25em;
  padding: 0.3em 1.1em;

  &:hover {
    transition: all 0.3s ease-out;
    background-color:rgb(43 211 255 / 10%);
  }
}
