@mixin flexcenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
}
$font:
$background: #4f88a8
$orangeboarder: #fbc068
$cardbackground :#fff9e4
$lightblue: #96e3ee
$pink: #ff86af
$yellow: #ffef60
$brown: #977366
$green: #74d178
$orange: #faa048
$goldyellow: #e0bd50

