
$font:'Oxygen', sans-serif;
$logo:'Stalinist One', cursive;
$background: url(https://www.cameronsworld.net/img/content/20/bg.png);
$pink:  #ff5dc3;
$purple:  #cd68ff;
$blue:  #9afffd;
$green: #70ff46;

@mixin textarea() {
  margin-bottom: 0.5em;
  resize: none;
  background-color: #7dfffd;
  color: black;
  text-align: center;
  border-radius: 5px;
}

@mixin flexcenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

  @mixin button() {
  font-weight: 400;
  color: black ;
  background-color:$purple;
  border-radius: 5px;
}


