@import './_variables.scss';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: $background;
}

table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0em 1em;
  border-radius: 6px;
  overflow:hidden
}


tbody {

  tr{
    @include textarea();
  }

}

div {
  h1 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}


