@import './_variables.scss';

body {
  justify-content: center;
  align-items: center;
  background-image: $background;
}

table {
  width: 100%;
}
thead {

  tr{
    display: flex;
    width: 100%;
    justify-content: space-between;

  }

}

tbody {

  tr{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: $blue solid 3px;
    @include textarea();
    margin: 10px 0px;
  }

}

div h1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
