@import './_variables.scss';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: $background;
}

table {
  table-layout: auto;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0em 1em;
}

thead {
    th {
      @include textglow($pink);
    }
}

tbody {

  tr{
    text-align: center;
  }
  .A {
    @include textglow(gold);
    @include borderglow(gold);
  }

  .B {
    @include textglow($purple);
    @include borderglow($purple);
  }

  .C {
    @include textglow($blue);
    @include borderglow($blue);
  }

  .D {
    @include textglow($green);
    @include borderglow($green);
  }

  .F {
    @include textglow(rgb(255, 63, 63));
    @include borderglow(rgb(255, 63, 63));
  }

}

div {
  h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    @include textglow($pink);
  }
}

@media screen and (min-width:512px) {

  table {
    font-size: 1.6em;
  }

  h1 {
    font-size: 2.2em;
  }

}

@media screen and (min-width:768px) {

  table {
    font-size: 2.11em;
  }

  h1 {
    font-size: 2.2em;
  }

}

@media screen and (min-width:1024px) {

  table {
    font-size: 2.75em;
  }

  h1 {
    font-size: 2.75em;
  }

}
