
.createContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quizName {
  display: flex;
  flex-direction: column;
  textarea {
    margin: 1em;
    margin-bottom: 0.5em;
  }
  button {
    color: green;

  }
}

