@import './_variables.scss';

body {
  background-image: $background;
}


.createContainer {
  font-family: $font;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $pink;
  font-weight: 700;
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $purple;
    ul {
      list-style-type: "👾  ";
    }
  }
}

.quizName {
  display: flex;
  flex-direction: column;
  font-family: $font;

  textarea {
   @include textarea();
  }
  button {
    @include button();
  }
}



