@import "./_variables.scss";

body {
  background-image: $background;
}

#main {
  @include flexcenter();
  flex-direction: column;
  text-align: center;
  h1 {
    display: flex;
    align-items: center;
    color: $blue;
  }
}

#correctText {
  color: $green;
}

.incorrectText {
  color: $pink;
}
