// See: https://sass-lang.com/
@import "./_variables.scss";

body {
  background-image: $background;
  color: white;

}

#daily-title {
  color: rgba(43, 232, 255, .76);

}

/* Featured Section */

#featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.column-left {
  display: flex;
  width: 65%;
}


.featured-large {
  display: flex;
  border: solid .1em black;
  width: 57vw;
  height: auto;
  justify-content: center;
  object-fit: cover;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 2em;
  margin-left: 1em;

}



/* Feature Quiz Button Styling */


.feature-title {
  text-decoration: none;
  border:rgba(248, 43, 255, 0.76) .125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: rgba(248, 43, 255, 0.76);
  font-size: 4rem;
  text-shadow:
  0 0 0.125em hsl(0 0% 100% / 0.375),
  0 0 0.45em rgba(248, 43, 255, 0.76);

  box-shadow: inset 0 0 0.5em 0 rgba(248, 43, 255, 0.76),
  0 0 0.5em 0 rgba(248, 43, 255, 0.76);

  position: relative;
}


.feature-title::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: rgba(248, 43, 255, 0.76);
  top: 88%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1.25em)
  rotateX(40deg) translateZ(0.2em) scale(1, 0.2);
  filter: blur(2em);
  opacity: 0.9;
}

.feature-title:hover,
.feature-title:focus {
  background: rgba(248, 43, 255, 0.76);
  color: #0d1d3570;
  text-shadow: 0;
}


.feature-title::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em rgba(248, 43, 255, 0.76);
  opacity: 0;
  transition: opacity 100ms linear;

}
.feature-title:hover::after {
  opacity: .8;

}


/* End of Feature Button Styling */





/* Feature Medium Section */



.featured-medium {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
}


.featured-medium span {
  display: flex;
  top: 0px;
  position: relative;
  max-width: 30vw;
  min-width: 25vw;
  min-height: 4em;


  text-decoration: none;
  border:rgba(43, 232, 255, .76) .05em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: rgba(248, 43, 255, 0.76);
  font-size: 1rem;
  text-shadow:
  0 0 0.125em hsl(0 0% 100% / 0.375),
  0 0 0.45em rgba(248, 43, 255, 0.76);

  box-shadow: inset 0 0 0.5em 0 rgba(43, 173, 255, 0.73),
  0 0 0.5em 0 rgba(43, 131, 255, 0.77);

  position: relative;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, .3);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}






/* Table Section */







.column-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.column-container {
  border: rgba(43, 232, 255, .76) .05em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: rgba(248, 43, 255, 0.76);
  font-size: 1rem;
  text-shadow:
  0 0 0.125em hsl(0 0% 100% / 0.375),
  0 0 0.45em rgba(248, 43, 255, 0.76);

  box-shadow: inset 0 0 0.5em 0 rgba(43, 173, 255, 0.73),
  0 0 0.5em 0 rgba(43, 131, 255, 0.77);

  position: relative;
  margin-bottom: 4em;
}
.column-container li {
  padding-bottom: .4em;
}



/*  Currently commented out in html */



/* Quizzes by Category Section */


/* Categories Title */

.neon-wrap {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

#category-title {
  color: rgba(43, 232, 255, .76);

}



/* By Individual Category */




.quizzes {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  margin-left: 1em;
  margin-bottom: 2em;
}


.quizzes span{
  display: flex;
  top: 0px;
  position: relative;
  max-width: 30vw;
  min-width: 25vw;
  min-height: 4em;
  margin-bottom: 1.5em;


  position: relative;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, .3);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}







#science-row-1 span, #science-row-2 span, #science-row-3 span {
  text-decoration: none;
  border:rgba(43, 232, 255, .76) .05em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: rgba(248, 43, 255, 0.76);
  font-size: 1rem;
  text-shadow:
  0 0 0.125em hsl(0 0% 100% / 0.375),
  0 0 0.45em rgba(248, 43, 255, 0.76);

  box-shadow: inset 0 0 0.5em 0 rgba(43, 173, 255, 0.73),
  0 0 0.5em 0 rgba(43, 131, 255, 0.77);
}




#geography-row-1 span, #geography-row-2 span, #geography-row-3 span {
  text-decoration: none;
  border:rgba(43, 232, 255, .76) .05em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: rgba(248, 43, 255, 0.76);
  font-size: 1rem;
  text-shadow:
  0 0 0.125em hsl(0 0% 100% / 0.375),
  0 0 0.45em rgba(248, 43, 255, 0.76);

  box-shadow: inset 0 0 0.5em 0 rgba(43, 173, 255, 0.73),
  0 0 0.5em 0 rgba(43, 131, 255, 0.77);
}



#film-row-1 span, #film-row-2 span, #film-row-3 span {
  text-decoration: none;
  border:rgba(43, 232, 255, .76) .05em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: rgba(248, 43, 255, 0.76);
  font-size: 1rem;
  text-shadow:
  0 0 0.125em hsl(0 0% 100% / 0.375),
  0 0 0.45em rgba(248, 43, 255, 0.76);

  box-shadow: inset 0 0 0.5em 0 rgba(43, 173, 255, 0.73),
  0 0 0.5em 0 rgba(43, 131, 255, 0.77);
}

#history-row-1 span, #history-row-2 span, #history-row-3 span {
  text-decoration: none;
  border:rgba(43, 232, 255, .76) .05em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: rgba(248, 43, 255, 0.76);
  font-size: 1rem;
  text-shadow:
  0 0 0.125em hsl(0 0% 100% / 0.375),
  0 0 0.45em rgba(248, 43, 255, 0.76);

  box-shadow: inset 0 0 0.5em 0 rgba(43, 173, 255, 0.73),
  0 0 0.5em 0 rgba(43, 131, 255, 0.77);

}

#general-row-1 span, #general-row-2 span, #general-row-3 span {
  text-decoration: none;
  border:rgba(43, 232, 255, .76) .05em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: rgba(248, 43, 255, 0.76);
  font-size: 1rem;
  text-shadow:
  0 0 0.125em hsl(0 0% 100% / 0.375),
  0 0 0.45em rgba(248, 43, 255, 0.76);

  box-shadow: inset 0 0 0.5em 0 rgba(43, 173, 255, 0.73),
  0 0 0.5em 0 rgba(43, 131, 255, 0.77);
}






  /* Trying stuff */

