// See: https://sass-lang.com/
@import "./_variables.scss";

body {
  background-image: $background;
  color: white;

}


/* Featured Section */

#featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95vw;
}

.column-left {
  display: flex;
  width: 65%;
  padding-left: 1em;
}

.column-right {
  display: flex;
  flex-direction: column;

}

.column-right {
  display: flex;
  padding-left: 1em;
}

.column-container {
  border: solid 0.1em black;
  margin-bottom: 4em;
}
.column-container li {
  padding-bottom: .4em;
}


.featured-large {
  display: flex;
  border: solid .1em black;
  width: 50vw;
  height: auto;
  justify-content: center;
  object-fit: cover;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 2em;

}

.featured-medium {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
}




.featured-medium span, .feature-title {
  display: flex;
  top: 0px;
  position: relative;
  max-width: 30vw;
  background-image: linear-gradient(
    to top,
    #0d1d3570 0%,
    #f970b7,
    #c653ff 100%
  );
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, .3);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}





/* Quizzes by Category Section + CSS for manipulating "Cards" */




.quizzes {
  display: flex;
  justify-content: space-evenly;
}



.quizzes span{
  display: flex;
  top: 0px;
  position: relative;
  max-width: 30vw;
  color: black;
  background-image: linear-gradient(
    to top,
    #0d1d3570 0%,
    #f970b7,
    #c653ff 100%
  );
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, .3);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}







/*
.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 30vw;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}
*/
/*

  <a class="card2" href="#">
    <h3>This is option 2</h3>
    <p class="small">Card description with lots of great facts and interesting details.</p>
  </a>

  */
