@import './_variables.scss';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: $background;

  // question styler
  h2 {
    @include textglow($blue);
  }
}

.error {
  display: flex;
  margin-top: 22px;
  justify-content: center;
  align-items: center;
  @include textglow(rgb(242, 53, 53));
  @include borderglow(rgb(242, 53, 53));
  border-color: rgb(239, 88, 88);
  width: 70%;
}

.next {
  @include borderglow($purple);
  border-color: #d277ff;
  padding: 0.25em 1em;
  font-size: 2rem;
  background-color: #d793f8;

  &:hover {
    @include borderglow(#88fffd);
    background-color: #cff8f8;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .answers {
    display: flex;
    justify-content: space-between;
    @include textarea();
    background-color: #fd7ece;
    @include borderglow($pink);
    border-color: #ff6cc9;
    padding: 10px 50px;
    width: 100%;
    word-break: break-word;
  }

  .answer-picked {
    @include borderglow($green);
    border-color: #70ff46;
    background-color: $green;
  }

  .top-row-answers {
    display: flex;
    border: 5px 0px;
    padding: 10px;
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;

    .answers {
      &:hover {
        @include borderglow($green);
        border-color: #77ff4e;
        background-color:#8aff67;
      }
    }
  }
  .bottom-row-answers {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;

    .answers {
      &:hover {
        @include borderglow($green);
        border-color: #77ff4e;
        background-color: #8aff67;
      }
    }
  }

}


@media screen and (max-width:512px) {
  .content {
    font-size: 1em;
  }

  .next {
    font-size: 2rem;
  }
}

@media screen and (max-width:400px) {
  .content {
    font-size: 0.9em;
  }

  .next {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:768px) {

  h2 {
    margin-top: 2.5em;
  }

  .next {
    font-size: 2.7rem;
  }

  .content {

    font-size: 1.3em;
  }

}

@media screen and (min-width:1024px) {

  h2 {
    margin-top: 3em;
  }
  .next {
    font-size: 3rem;
  }

  .content {

    font-size: 1.5em;
  }

  .error {
    font-size: 1.5em;
  }

}


