@import './_variables.scss';

body {
  justify-content: center;
  align-items: center;
  background-image: $background;
}
.results-container {
  width: 100%;
}

.page-top {
  margin-top: 150px;
  display: flex;
  font-size: 1.5em;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
}

.page-bottom {
  align-self: flex-end;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 150px;
}
